@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Raleway", serif;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed; /* Garante que o fundo cobre toda a tela */
  background-size: cover; /* Ajusta o tamanho do fundo */
  min-height: 100vh; /* Garante que o body tenha no mínimo 100% da tela */
  background-color: #fbf6ff;
}

#foto-profissao{
  max-width: 100%;
  width: 75%;
  height: auto;
  display: block;
}

header{
  display: flex;
  height: 60px;
  background: transparent;
  align-items: center;
  justify-content: space-around;
  color:  #8e51b9;
}


nav ul li{
  display: inline-block;
  padding: 20px;
}

nav ul li a{
  display: flex;
  color:  #8e51b9;
  text-decoration: none;
  justify-content:center;
  height: 13px;
  font-weight: 700;
}

nav ul li a:hover{
  color: #807e7e;
  text-decoration: none;
}

#logo{
  display: flex;
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

#logo img{
  border-radius: 100%;
}

.menu-mobile{
  display: none;
  cursor: pointer;
}

.menu-mobile div{
  width: 32px;
  height: 3px;
  background: #8e51b9;
  margin:8px;
  transition: 0.3;
  border-radius: 10px;
}


/*Menu Responsivo*/
@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px) ;
  }
  to{
      opacity: 1;
      transform: translateX(0) ;
  }
}

.menu-mobile.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);
  border-radius: 10px;
}

.menu-mobile.active .line2{
  opacity: 0;
  border-radius: 10px;
}

.menu-mobile.active .line3{
  transform: rotate(45deg) translate(-8px, -8px);
  border-radius: 10px;
}

.hist
{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  color:  #6c048a;

}
.hist h1
{
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.hist h1 a
{
  font-size: 3.5rem;
  text-align: center;
}
.hist p
{
  font-size: 1.5rem;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}
.estrutura{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.estrutura h1
{
  font-size: 2rem;
  font-weight: 900;
  color: #6c048a;
}
.estrutura h1 a
{
  font-size: 3.5rem;
  color: #6c048a;
}
.estrutura p
{
  font-size: 1.1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: justify;
  color: #6c048a;
}
hr{
  margin: auto;
  width: 90vw;
}
.textos img{
  float: right;
  width: 700px;
  padding-left: 50px;
}



.comoseguir{
  text-align: center;
}

.comoseguir button {
  background-color: purple;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: larger;
  cursor: pointer;
}

.footer {
  position: relative;
  width: 100%;
  background: #8e51b9;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha os ícones no centro verticalmente */
  margin: 10px 5px;
  flex-wrap: wrap;
  flex-direction: row; /* Alinha os ícones na horizontal */
}

.icon-elem {
  list-style: none;
  display: flex; /* Adiciona display flex para alinhar os ícones corretamente */
  flex-direction: row;
}

.icon {
  color: #ffffff;
  font-size: 32px;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem{
  list-style: none;
}

.menu-icon{
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-icon:hover{
  opacity: 1;
}

.text{
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}


@media (max-width: 900px) {

  body{
      overflow-x: hidden;
  }

  /*Menu Responsivo*/
  .nav-list{
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 90vh;
      background: #b4b4b4;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
  }

  .nav-list.active{
      transform: translateX(0)
  }

  .nav-list li{
      margin-left: 0;
      opacity: 0;
      margin-left: 20px;
  }

    .menu-mobile{
      display: block;
      padding-left: 190px;
  }

  #logo{
      padding-left: 30px;
  }
}

  
